/*reset*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
    list-style: none;
}


/*layout*/

body{
    display: flex;
    flex-direction: column;
    color: white;
}

h1{
    font-size: 29px;
    margin: 70px auto 0 auto;
}

h2{
    font-size: 26px;
    font-weight: 100;
    margin-top: 15px;
}

a{
    text-decoration: none;
    position: relative;
    display: block;
    padding: 12px 10px;
}

header{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header1{
    width: 70%;
    display: flex;
}

.header-logo{
    margin-top: 5px;
    height: 20px;
    display: flex;
    align-items: center;
}   

img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}

.header-menu{
    font-size: 13px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.header2{
    font-size: 13px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1{
    height: 320px;
    display: grid;
    grid-template: 
    'linux-pengiun .'
    'linux-pengiun .'
    'linux-pengiun .';
    grid-template-columns: 35% 40%;
}

.linux-pengiun{
    background-image: url(images/linux-penguin.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 75%;
    margin: auto;
    grid-area: linux-pengiun;

}

.box1-logo{
    background-image: url(images/restdblogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 100%;
    margin: 30px auto 50px 130px;
}

.box1-button{
    background-color: #e99002;
    width: 200px;
    height: 50px;
    margin: auto auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-button > a{
    font-size: 120%;
}

.button{
    border: 3px solid #fff;
    border-radius: 20px;
}

.box2{
    height: 70px;
}

.box2 h2{
    color: #383A39;
    text-align: center;
}

.box3{
    height: 360px;
    display: flex;
    flex-flow: row wrap;
}

.box3 h2{
    text-align: left;
    margin-bottom: 10px;
}

.box3-1{
    width: 50%;
    box-sizing: border-box;
    padding-left: 75px;
    padding-top: 20px;
    padding-right: 10px;
}

.box3-2{
    width: 50%;
    box-sizing: border-box;
    padding-right: 75px;
    padding-top: 20px;
}

.box3-3{
    width: 50%;
    box-sizing: border-box;
    padding-left: 75px;
    padding-right: 10px;
}

.box3-4{
    width: 50%;
    box-sizing: border-box;
    padding-right: 75px;
}

.box4{
    height: 70px;
}

.box4 h2{
    color: gray;
    text-align: center;
}

.box5{
    height: 290px;
}

.box6{
    height: 250px;
}

footer{
    height: 70px;
}



/*Customize*/

header{
    background-color: #333;
}

a{
    color: #fff;
}

.header-menu > li > a:hover{
    background-color: rgb(44, 36, 36);
}

.header2 > a:hover{
    background-color: rgb(44, 36, 36);
}

.box1{
    background-color: #1e93cc;
}

.box2{
    background-color: #fff;
}

.box3{
    background-color: #1e93cc;
}

.box4{
    background-color: #fff;
}

.box5{
    background-color: #eee;
}

.box6{
    background-color: #fff;
}

footer{
    background-color: #333;
}